@font-face {
  font-family: "iconfont"; /* Project id 3978957 */
  src: url('../iconfonts/iconfont.woff2?t=1679898050826') format('woff2'),
       url('../iconfonts/iconfont.woff?t=1679898050826') format('woff'),
       url('../iconfonts/iconfont.ttf?t=1679898050826') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye1:before {
  content: "\e671";
}

.icon-wode1:before {
  content: "\e675";
}

.icon-yingyongchanpin1:before {
  content: "\e677";
}

.icon-faxian1:before {
  content: "\e68b";
}

